# source
**/*.ts
*.ts

# definitions
!**/*.d.ts
!*.d.ts

examples/

# configuration
package-lock.json
tslint.json
tsconfig.json
.prettierrc

*.tsbuildinfo
nodemon.json
nodemon.common.json
tsconfig.json
tsconfig.build.json
tsconfig.build.tsbuildinfo